Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

.lintstagedrc.json:

{
    "src/**/*.{ts,tsx,js,jsx,html}": "yarn lint-files:fix",
    "src/**/*.{ts,tsx,js,jsx,html,css,json,md}": "yarn format-files:fix"
}

style(search): fix full text search input after upgrade to bootstrap 5
  src/app/views/data-view/data-outlets/search-panel/fulltext-search-form/fulltext-search-form.component.html
  src/app/views/data-view/data-outlets/search-panel/fulltext-search-form/fulltext-search-form.component.scss
  src/app/views/data-view/data-outlets/search-panel/fulltext-search-form/fulltext-search-form.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(search): move fulltext search input validation into method
  src/app/views/data-view/data-outlets/search-panel/fulltext-search-form/fulltext-search-form.component.html
  src/app/views/data-view/data-outlets/search-panel/fulltext-search-form/fulltext-search-form.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): move op19 into correct folder
  src/assets/data/edition/series/1/section/3/op19/folio-convolute.json
  src/assets/data/edition/series/1/section/3/op19/intro.json
  src/assets/data/edition/series/1/section/3/op19/source-description.json
  src/assets/data/edition/series/1/section/3/op19/source-evaluation.json
  src/assets/data/edition/series/1/section/3/op19/source-list.json
  src/assets/data/edition/series/1/section/3/op19/svg-sheets.json
  src/assets/data/edition/series/1/section/3/op19/textcritics.json
Due: yarn format-files:fix

add-op24 (row table)
  src/assets/data/edition/series/1/section/1/op24/folio-convolute.json
  src/assets/data/edition/series/1/section/1/op24/intro.json
  src/assets/data/edition/series/1/section/1/op24/source-description.json
  src/assets/data/edition/series/1/section/1/op24/source-evaluation.json
  src/assets/data/edition/series/1/section/1/op24/source-list.json
  src/assets/data/edition/series/1/section/1/op24/svg-sheets.json
  src/assets/data/edition/series/1/section/1/op24/textcritics.json
  src/assets/img/edition/series/1/section/1/op24/op24_B_Reihentabelle_20220318_1von2_path.svg
  src/assets/img/edition/series/1/section/1/op24/op24_B_Reihentabelle_20220318_2von2_path.svg
Due: yarn format-files:fix

style(search): fix extended search input after upgrade to bootstrap 5
  src/app/views/data-view/data-outlets/search-panel/extended-search-form/extended-search-form.component.html
  src/app/views/data-view/data-outlets/search-panel/extended-search-form/extended-search-form.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

style(search): fix aria-label binding of full text search input
  src/app/views/data-view/data-outlets/search-panel/fulltext-search-form/fulltext-search-form.component.html
Due: yarn lint-files:fix, yarn format-files:fix

refactor(search): adjust search result view buttons to bootstrap 5
  src/app/views/data-view/data-outlets/search-panel/search-result-list/search-result-list.component.html
  src/app/views/data-view/data-outlets/search-panel/search-result-list/search-result-list.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(search): type form controls in ExtendedSearch
  src/app/views/data-view/data-outlets/search-panel/extended-search-form/extended-search-form.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(search): adjust grid view of search results to bootstrap 5
  src/app/views/data-view/data-outlets/search-panel/search-result-list/search-result-list.component.html
  src/assets/themes/scss/main.scss
Due: yarn lint-files:fix, yarn format-files:fix

style(search): add border to search panels
  src/app/views/data-view/data-outlets/search-panel/extended-search-form/extended-search-form.component.html
  src/app/views/data-view/data-outlets/search-panel/fulltext-search-form/fulltext-search-form.component.html
  src/app/views/data-view/data-outlets/search-panel/search-result-list/search-result-list.component.html
Due: yarn lint-files:fix, yarn format-files:fix

test(app): fix tests after update to bootstrap 5 - ongoing
  src/app/views/data-view/data-outlets/resource-detail/resource-detail-html/resource-detail-html-content/linkedobjects/linkedobjects.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-graph/graph-visualizer/construct-results/construct-results.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-graph/graph-visualizer/graph-visualizer.component.html
  src/app/views/edition-view/edition-outlets/edition-graph/graph-visualizer/graph-visualizer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-graph/graph-visualizer/select-results/select-results.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-graph/graph-visualizer/sparql-editor/sparql-editor.component.html
  src/app/views/edition-view/edition-outlets/edition-graph/graph-visualizer/sparql-editor/sparql-editor.component.spec.ts
  src/testing/accordion-panel-helper.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(app): fix tests after update to bootstrap 5 - complete
  src/app/core/interceptors/caching/caching.interceptor.spec.ts
  src/app/core/interceptors/loading/loading.interceptor.spec.ts
  src/app/core/navbar/navbar.component.spec.ts
  src/app/core/services/api-service/api.service.spec.ts
  src/app/shared/table/table-pagination/table-pagination.component.spec.ts
  src/app/shared/table/table.component.spec.ts
  src/app/views/data-view/services/bibliography.service.spec.ts
  src/app/views/data-view/services/data-api.service.spec.ts
  src/app/views/edition-view/edition-outlets/edition-graph/edition-graph.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-graph/graph-visualizer/construct-results/construct-results.component.html
  src/app/views/edition-view/edition-outlets/edition-graph/graph-visualizer/construct-results/construct-results.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-graph/graph-visualizer/graph-visualizer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-graph/graph-visualizer/select-results/select-results.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-graph/graph-visualizer/triples-editor/triples-editor.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-graph/graph-visualizer/unsupported-type-results/unsupported-type-results.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-report/edition-report.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-report/edition-report.component.ts
  src/app/views/edition-view/edition-outlets/edition-sheets/edition-accolade/edition-accolade.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-sheets/edition-convolute/edition-convolute.component.spec.ts
  src/app/views/edition-view/edition-view.component.spec.ts
  src/app/views/edition-view/edition-view.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(app): adjust hidden sections for CHANGELOG
  .versionrc.json
Due: none

test(core): fix return value for ApiServiceError in ApiService
  src/app/core/services/api-service/api.service.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(deps): bump @angular packages from 13.2.6 to 13.3.0
  package.json
  yarn.lock
Due: none

build(deps-dev): bump typescript from 4.5.5 to 4.6.2
  package.json
  yarn.lock
Due: none

build(deps-dev): bump lint related packages to latest version
  package.json
  yarn.lock
Due: none

build(deps-dev): bump test related packages to latest version
  package.json
  yarn.lock
Due: none

build(deps): bump layout related packages to latest version
  package.json
  yarn.lock
Due: none

build(deps): bump n3 from 1.13.0 to 1.15.0
  package.json
  yarn.lock
Due: none

chore(release): 0.8.1
  CHANGELOG.md
  package.json
  src/app/app.globals.ts
Due: yarn lint-files:fix, yarn format-files:fix

docs(CHANGELOG): fix typo
  CHANGELOG.md
Due: none

style(edition): fix SCSS issues in ForceGraphComponent (SonarCloud)
  src/app/views/edition-view/edition-outlets/edition-graph/graph-visualizer/force-graph/force-graph.component.scss
Due: none

fix(shared): fix unexpected empty arrow functions (SonarCloud)
  src/app/shared/table/table-pagination/table-pagination.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(core): use correct API for observable throwError (SonarCloud)
  src/app/core/interceptors/caching/caching.interceptor.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(shared): remove deprecated NgbButtonsModule
  src/app/shared/shared-ngbootstrap.module.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(app): remove unused imports (SonarCloud)
  src/app/views/data-view/models/search-response-with-query.model.ts
  src/app/views/edition-view/edition-outlets/edition-sheets/edition-sheets.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(shared): use concise character class syntax '\D' instead of '[^0-9]'
  src/app/shared/table/table-pagination/table-pagination.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(app): use observer argument instead of deprecated subscribe
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/core/interceptors/caching/caching.interceptor.spec.ts
  src/app/core/interceptors/loading/loading.interceptor.spec.ts
  src/app/core/interceptors/loading/loading.interceptor.ts
  src/app/core/services/api-service/api.service.spec.ts
  src/app/core/services/conversion-service/conversion.service.ts
  src/app/core/services/data-streamer-service/data-streamer.service.spec.ts
  src/app/core/services/loading-service/loading.service.spec.ts
  src/app/core/services/side-info-service/side-info.service.spec.ts
  src/app/views/data-view/data-outlets/resource-detail/resource-detail.component.ts
  src/app/views/data-view/data-outlets/search-panel/extended-search-form/extended-search-form.component.ts
  src/app/views/data-view/data-outlets/search-panel/fulltext-search-form/fulltext-search-form.component.ts
  src/app/views/data-view/data-outlets/search-panel/search-panel.component.ts
  src/app/views/data-view/data-outlets/search-panel/search-result-list/search-result-list.component.ts
  src/app/views/data-view/services/bibliography.service.spec.ts
  src/app/views/data-view/services/data-api.service.spec.ts
  src/app/views/edition-view/edition-outlets/edition-detail-nav.component.ts
  src/app/views/edition-view/edition-view.component.spec.ts
  src/app/views/edition-view/services/edition-data.service.spec.ts
  src/app/views/edition-view/services/edition.service.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): replace deprecated error signature in EditionDataService
  src/app/views/edition-view/edition-outlets/edition-sheets/edition-sheets.component.ts
  src/app/views/edition-view/services/edition-data.service.spec.ts
  src/app/views/edition-view/services/edition-data.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(app): use observer argument instead of deprecated subscribe
  src/app/core/interceptors/caching/caching.interceptor.spec.ts
  src/app/side-info/resource-info/resource-info.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(search): remove unnecessary error type assertions
  src/app/views/data-view/data-outlets/search-panel/extended-search-form/extended-search-form.component.ts
  src/app/views/data-view/data-outlets/search-panel/search-panel.component.ts
  src/app/views/data-view/data-outlets/search-panel/search-result-list/search-result-list.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(app): remove redundant jumps (Sonar Cloud)
  src/app/views/edition-view/edition-outlets/edition-graph/graph-visualizer/graph-visualizer.component.ts
  src/testing/detect-changes-on-push-helper.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(app): immediately return inline variables (Sonar Cloud)
  src/app/shared/compile-html/compile-html.component.ts
  src/app/views/edition-view/edition-outlets/edition-graph/graph-visualizer/force-graph/force-graph.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): use type alias for union type (Sonar Cloud)
  src/app/views/edition-view/edition-outlets/edition-graph/graph-visualizer/models/d3-simulation-link.model.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): add test for EditionIntro- and -ReportComponents
  src/app/views/edition-view/edition-outlets/edition-graph/graph-visualizer/force-graph/force-graph.component.ts
  src/app/views/edition-view/edition-outlets/edition-intro/edition-intro.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-intro/edition-intro.component.ts
  src/app/views/edition-view/edition-outlets/edition-report/edition-report.component.html
  src/app/views/edition-view/edition-outlets/edition-report/edition-report.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-report/edition-report.component.ts
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): fix tests for EditionIntro- and -ReportComponents
  src/app/views/edition-view/edition-outlets/edition-intro/edition-intro.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-report/edition-report.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

feat(edition): add op24
  src/assets/data/edition/series/1/section/1/op24/folio-convolute.json
  src/assets/data/edition/series/1/section/1/op24/intro.json
  src/assets/data/edition/series/1/section/1/op24/source-description.json
  src/assets/data/edition/series/1/section/1/op24/source-evaluation.json
  src/assets/data/edition/series/1/section/1/op24/source-list.json
  src/assets/data/edition/series/1/section/1/op24/svg-sheets.json
  src/assets/data/edition/series/1/section/1/op24/textcritics.json
  src/assets/img/edition/series/1/section/1/op24/op24_B_Reihentabelle_20220318_1von2_path.svg
  src/assets/img/edition/series/1/section/1/op24/op24_B_Reihentabelle_20220318_2von2_path.svg
Due: yarn format-files:fix
